version: 2
multi-ecosystem-groups:
  uv-ecosystem:
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "16:00"

updates:
  - package-ecosystem: "docker"
    directory: "/docker"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "16:00"
    groups:
      regclient:
        patterns:
          - "regclient/regctl*"
          - "sigstore/cosign/cosign*"
  - package-ecosystem: "docker"
    directory: "/helm"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "16:00"
    groups:
      helm:
        patterns:
          - "*"
