version: 2
multi-ecosystem-groups:
  uv-ecosystem:
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "16:00"

updates:
  - package-ecosystem: "docker"
    directories:
      - "/docker"
      - "/helm"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "16:00"
    groups:
      regclient:
        patterns:
          - "regclient/regctl*"
          - "sigstore/cosign/cosign*"
      helm:
        patterns:
          - "alpine/helm*"
          - "oras-project/oras*"
